body {
    font-family: Roboto, Helvetica, Arial;
    min-height: 100%;
    margin: 3vw;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 13%;
}

form .input {
    font-weight: 545;
    font-size:16px;
    padding:9px;
    width:15em;
    border-radius:1.5px;
    border:0.9px solid #999;
}

form label {
    line-height: 1.8em;
    font-weight: 545;
    font-size:15px;
}

form [type="submit"] {
    padding:6px;
    width:13em;
    font-size:15px;
    margin-top:9px;
}

.head {
    font-size:18px;
}

label {
    font-size: 14px;
    cursor: pointer;
}

p{
    margin  : 0 0 1.5em;
    padding : 5px 0 5px 0;
}

a{
    color           : #9c3;
    text-decoration : none;
}

span.stars, span.stars span {
    display: block;
    background: url("stars.png") 0 -16.4px repeat-x;
    width: 80px;
    height: 16px;
    margin:0;
}

span.stars span {
    background-position: 0 0;
}

.user-rating {
    position:absolute;
    left:300px;
    top: 0px;
}

.t {
    margin-left:13px;
}

#ffi-card {
    position:relative;
}

.select{
    padding:3px;
}

.title {
    width:285px;
}

#header {
    margin-top:30px;
}
