body {
	font-family: Roboto, Helvetica, Arial;
	margin:3vw;
}

form {
	font-size:15px;
}

.head {
	font-size:18px;
}

form input {
	margin:3px;
}

form fieldset {
	border: none;
}

label {
	font-size: 14px;
	cursor: pointer;
}

p{
  margin  : 0 0 1.5em;
  padding : 5px 0 5px 0;
}

a{
  color           : #9c3;
  text-decoration : none;
}

span.stars, span.stars span {
    display: block;
    background: url("stars.png") 0 -16.4px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.user-rating {
    position:absolute;
    left:305px;
    top: 0px;
}

.t {
    margin-left:13px;
}

#ffi-card {
    position:relative;
}

.select{
    padding:3px;
}

.title {
    width:285px;
}